bin/
.vs/
obj/
# Created by running event monitor
enc_temp_folder/
packages/

# Override root .gitignore to ensure we pick up changes for the sample app
!*.sln
!*.csproj

# Make sure script debug config is checked in for vendor testing
!.vscode

