<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="WebView2SampleBootstrapper" Version="1.0.0.0" Manufacturer="Microsoft Corp." UpgradeCode="9a57a789-e554-4b42-b0b7-1a16345c2808">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Value="EBWebView" Variable="WVRTInstalled" Win64="no" />
    <Chain>
      <!-- Step 1: Chain WebView2 RunTime as Prerequisite -->
      <!-- Vital="no" indicate this install will not fail the sequence. If this sequence failed, it will just move on to next install -->
      <!-- If you want your app to fail if WebView2 Runtime failed to install, switch Vital value to yes -->

      <!-- [Download Bootstrapper] Use fwlink to download bootstrapper to then invoke it-->
      <!-- Note that CertificatePublicKey, Hash, Size and Version are subject to change, and installer workflows requiring knowing these attributes ahead of time, such as WiX Bundle, may be broken. -->
      <!-- We are working on supporting this technology with CertificatePublicKey in the future. -->
      <!-- Use of the download link below is governed by the below terms. You may acquire the link for your use at https://developer.microsoft.com/microsoft-edge/webview2/. -->
      <!-- Microsoft owns all legal right, title, and interest in and to the WebView2 Runtime Bootstrapper ("Software") and related documentation, including any intellectual property in the Software. 
      You must acquire all code, including any code obtained from a Microsoft URL, under a separate license directly from Microsoft, including a Microsoft download site (e.g., https://developer.microsoft.com/microsoft-edge/webview2/). -->
      <!-- <ExePackage Id="DownloadAndInvokeBootstrapper" Name="Install WebView2 Runtime" Cache="no" Compressed="no" PerMachine="yes" Vital="no" DownloadUrl="https://go.microsoft.com/fwlink/p/?LinkId=2124703" InstallCommand=" /silent /install" InstallCondition="NOT (REMOVE OR WVRTInstalled)">
				<RemotePayload ProductName="MicrosoftEdgeWebview2Setup" Description="Microsoft Edge WebView2 Update Setup" CertificatePublicKey="1392A8505C3B192F62311EA9005E49C1B5358F6B" Hash="82B42348804E8D82C773DC3391B691712BB1B388" Size="1815832" Version="1.3.135.41"/>
			</ExePackage> -->

      <!-- [Package Bootstrapper] Package bootstrapper to use during app install. Source can be anywhere you put the boostrapper on. -->
      <!-- <ExePackage Id="InvokeBootstrapper" Name="Install WebView2 Runtime" Cache="no" Compressed="no" PerMachine="yes" Vital="no" SourceFile="..\MicrosoftEdgeWebview2Setup.exe" InstallCommand=" /silent /install" InstallCondition="NOT (REMOVE OR WVRTInstalled)" /> -->

      <!-- Step 2: Chain Sample App  -->
      <!-- Make sure to comment out default Custom Action in WebView2SampleApp project -->
      <MsiPackage Id="WV2DeploymentWiXCustomActionSampleMsi" SourceFile="$(var.WV2DeploymentWiXCustomActionSample.TargetDir)\WV2DeploymentWiXCustomActionSample.msi" Permanent="no" DisplayInternalUI="yes" Compressed="yes" Vital="yes"/>
    </Chain>
  </Bundle>
</Wix>
